---
import "../css/global.css"
const { frontmatter } = Astro.props;
---

<html>
  <div class="markdown centered">
    <h1 style="text-align: center">{frontmatter.title}</>
    <slot/>
  </div>
</html>
