---
import "../css/global.css"
import Gear from "../components/Gear.svelte"
const { frontmatter } = Astro.props;
---

<html>
  <div class="markdown centered">
    <h1 style="text-align: center">{frontmatter.title}</>
    <slot/>
  </div>

  <div style="position:fixed; bottom: 0; left: 0;">
    <Gear client:only="svelte"/>
  <div/>
</html>
