---
import Layout from '../layouts/page.astro'
import "../css/global.css"
import Gear from "../components/Gear.svelte"
const { frontmatter } = Astro.props;
---

<Layout>
  <div class="markdown centered" style="z-index: 100">
    <h1 style="text-align: center">{frontmatter.title}</>
    <hr>
    <slot/>
  </div>
</Layout>
