---
import "../css/global.css"
---

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

  .big-header {
    font-size: 150px;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: violet;
  }
</style>

<html>
  <body>
    <div class="centered">
      <div class="big-header">Hello!</div>
      <div style="text-align:left" class="markdown">
        <slot />
      </div>
    </div>
  </body>
</html>
