---
import "../css/global.css"
import Gear from "../components/Gear.svelte"
---

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

  .big-header {
    font-size: 150px;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #729437;
  }
</style>

<html>
  <body>
    <div class="centered">
      <div class="big-header">Hello!</div>
      <div style="text-align:left; z-index: 100;" class="markdown">
        <slot />
      </div>
    </div>
    <div style="position:fixed; bottom: 0; left: 0; z-index: 0;">
       <Gear client:only="svelte"/>
    <div/>
  </body>
</html>
