---
import "../css/global.css"
import Gear from "../components/Gear.svelte"
---
<style>
	.header {
	  position: sticky;
		top: 0;
		text-align: left;
		z-index: 10;
		color: black;
	}

	@media (orientation: portrait) {
  	.header {
    	background-color: black;
  	}

  	.headerBorder {
    	width: 100%;
		  padding: 2px;
    	border-bottom: 2px solid white;
  	}
	}

	@media (orientation: portrait) {
  	.desktopGear {
      visibility: hidden;
    }
	}

	@media (orientation: landscape) {
  	.desktopGear {
      visibility: visible;
    }
	}
</style>

<html>
  <body>
		<div class="header">
    	<div>
    		<a href="/">Home</a>
				|
    		<a href="/blog/">Blog</a>
	    		|
    		<a href="/zunda_zone/">Zunda Zone</a>
    	</div>
		  <div class="headerBorder"/>
		</div>

    <slot />

    <div class="desktopGear" style="position:fixed; bottom: 0; left: 0; z-index: 0;">
       <Gear client:only="svelte"/>
    <div/>

    <div class="desktopGear" style="position:fixed; bottom: 100%; left: 100%; z-index: 0">
      <div style="transform: scale(70%) translate(-22%, 22%)">
       <Gear client:only="svelte"/>
      </div>
    <div/>
  </body>
</html>

